/* .display {
    display: grid;
    grid-template-rows: auto 1fr max-content;
    min-height: 100vh;
    min-height: 100dvh;
} */

.header {
    align-items: center;
    /* display: flex;
    gap: .5rem;
    padding: .5rem;
    width: 100%;
    z-index: 50; */
}

.header .right-side {
    align-items: center;
    display: flex;
    gap: .25rem;
    margin-left: auto;
}

.logo-container span{
    /* color: #5a32a3; */
    color: rgb(142, 112, 193);
    font-size: 2.7rem;
}

.logo-container a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    /* color: rgb(212, 202, 230); */ 
}




/* Swap Form */

/* div.swap-form-one{
    align-items: center;
    justify-content: center;
    /* display: flex; 
} */
.swap-form-one {
    /* border: 1px solid #dee2e6; */
    background-color: #262b33;
    /* border: 3px solid #262b33; */
    opacity: 1;
    padding: 2em;
    /* margin-top: 2em; */
    border-radius: 0.8em;
    width: 60%;
}

.dropdown-token {
    background-color: #000;
    border: 1px #000 !important;
    color: #fff;
    border-radius: 4em;
    font-weight: bold;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover {
    cursor: pointer;
    background-color: beige;
}

.icon {
    background-color: #fff;
    border-radius: 7em;
    padding: 0.1em;
}

img.icon{
    width: 18px;
    height: 18px;
}

.input-amount {
    /* background-color: rgb(229, 226, 226); */
    background-color: transparent;
    border: 0;
    /* display: block; */
    /* line-height: 1; */
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    text-align: right;
    caret-color: 5px solid #fff !important;
}

#balance {
    color: rgb(194, 175, 224) !important;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 15px;
    text-align: left;
    font-style: italic;
}

#swap-amount:focus {
    background-color: transparent !important;
    border: 0 !important;
    cursor: pointer;
    outline: none;
    color: #fff;
    caret-color: 5px solid #fff;

}

/* Remove spinners for Chrome, Safari, Edge, and Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove spinners for Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.to-circle {
    /* border-radius: 7em;
    background-color: #262b33;
    padding: 0.7em; */
    text-align: center;
    justify-content: center;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;

}

#network-warning, #action-warning {
    justify-content: center;
    align-items: center;
    display: none;
}

#network-warning p, #action-warning p{
    font: 1em;
    color: whitesmoke;
    text-align: center;
}

#network-warning span{
    color: rgb(241, 204, 95);  
    /* #ab7903  */
    margin-right: 0.3rem;
}

#action-warning span{
    color: #dc3545;  
    margin-right: 0.3rem;
}

#btn-div{
    text-align: center;
    margin-top: 3rem;
}

#start-button, #continue-button{
    width: 60%;
}

/* Small Token Dropdown */
.token-dropdown {
    top: -25px;
    left: 0;
    width: 120px;
}

/* Purple Button #6d24f5; */
.btn-purple {
    background-color: rgb(60, 17, 135);
    border-color: rgb(60, 17, 135);
    color: #fff;
    font-size: 17px;
}

.btn-purple:hover {
    background-color: #5a32a3;
    border-color: #5a32a3;
}

.btn-purple:disabled {
    background-color: rgb(60, 17, 135);
    border-color: rgb(60, 17, 135);
    cursor:not-allowed !important;
}


/* .token-list {
    max-height: 300px;
    overflow-y: auto;
}
.token-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.token-item img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.token-item:hover {
    background-color: #f1f1f1;
} */
